$primary: #2c5dff;
$text-light: #ffffff;
$light-1: #fafafa;
$light-2: #f6f6f6;
$grey-1: #737373;
$grey-2: #8f8f8f;
$grey-3: #404040;
$grey-4: #535353;
$grey-5: #2d2d2d;
$dark-1: #171717;
$dark-2: #0a0a0a;
$secondary-button-border: #d4d4d4;
$tag: #cacaca;
